.new-xml-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500; 
}

.input-form-field {
    width: 100%;
}

.add-xml-section {
    margin-bottom: 20px;
}

.add-xml-button {
    margin-left: 10px;
    margin-right: 10px;
}

.cancel-xml-button {
    background-color: #54c0ff;
}