.new-xml-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500; 
    color: rgba(0, 0, 0, 0.6);
}

.input-form-field {
    width: 100%;
}

.add-xml-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.add-xml-button {
    margin-left: 10px;
    margin-right: 10px;
}

.cancel-xml-button {
    background-color: #54c0ff;
}