<div class="add-xml-section">
    <div class="new-xml-title">
        Nowy XML:
    </div>
    <form #form="ngForm">
      <div>
        <mat-form-field class="input-form-field">
          <input #name="ngModel" matInput placeholder="Nazwa xml" required [(ngModel)]="ownXml.name" name="name">
          <mat-error *ngIf="name.errors?.required">Nazwa xml nie moze byc pusta</mat-error>
        </mat-form-field>
      </div>
    </form>
    <div>
        <button mat-flat-button class="add-xml-button" color="primary" [disabled]="form.invalid" (click)="onClickCreate(false)">Create</button>
        <button mat-flat-button class="add-xml-button" color="primary" [disabled]="form.invalid" (click)="onClickCreate(true)">Create and edit</button>
        <button mat-flat-button class="add-xml-button cancel-xml-button" color="warn" (click)="onClickCancel()">Cancel</button> 
    </div>
</div>
