<div class="access-denied-background">
    <div class="access-denied-page">
        <div class="change-language-field">
            <app-change-language></app-change-language>
        </div>
        <div class="access-denied-header">{{'ACCESS_DENIED.TITLE' | translate}}</div>
        <div class="access-denied-text">{{'ACCESS_DENIED.TEXT' | translate}}</div>
        <button mat-flat-button [routerLink]="'/xmls'" class="back-to-xmls-button" color="primary">{{'ACCESS_DENIED.BUTTONS.BACK_TO_XMLS' | translate}}</button>
    </div>
</div>