<div class="xmls-page">
  <div *ngIf="newXmlActive">
    <app-add-own-xml></app-add-own-xml>
  </div>
  <div class="xmls-header">
    <div class="xmls-title">
      Twoje XML'e:
    </div>
    <div *ngIf="!newXmlActive">
      <button mat-flat-button color="primary" class="xmls-add-button" (click)="onAddXml()">
        <mat-icon>add</mat-icon><span>Dodaj nowy XML</span>
      </button>
    </div>
  </div>
  <div class="xmls-list">
    <div *ngIf="xmls.length != 0">
      <mat-form-field class="xmls-filter-input">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="xmls-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"><button mat-flat-button routerLink="/xmls/{{element.id}}" class="">{{element.name}}</button></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastUpdated">
          <th mat-header-cell *matHeaderCellDef> Last updated </th>
          <td mat-cell *matCellDef="let element">{{element.lastUpdated | date}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef class="delete-button-table-column"></th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="onClickDeleteButton(element)"><mat-icon>delete</mat-icon></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="xmls.length == 0">
      <div class="empty-list-title">
        Twoja lista jest pusta! :(
      </div>
    </div>
  </div>
</div>