.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .mat-toolbar-single-row {
    height: auto;
  }
  
  .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .main-editor {
    width: 100%;
    height: 100%; 
    display: flex;
  }

  .user-menu {
    position: absolute;
    right: 0px;
    width: auto;
  }

  .user-menu-text {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
  }

  ::ng-deep .language-select {
    border: none !important;
    width: 100px !important;
  }

.example-toolbar {
  height: 55px;
}

.footer-toolbar {
  font-size: 14px;
}

@media only screen and (max-width: 550px) {
  .user-menu-text {
    display: none;
  }
}