.xml-tree-header {
    margin-top: 10px;
    display: flex;
}

.tree-title {
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.trash-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #2196f3;
}

.options-menu {
    left: 0px;
    bottom: 0px;
}

.new-node-button {
    margin-left: 5px;
    position: relative;
    right: 0px;
}

.new-node-row {
    display: flex;
}

.tip-text-new-node {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    font-style: italic;
    color: #2195f3a2;
}