.xml-tree-header-empty-tree {
    margin-top: 22px;
    display: flex;
    position: relative;
}

.xml-tree-header-full-tree {
    margin-top: 13px;
    display: flex;
    position: relative; 
}

.tree-title {
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.trash-button {
    position: absolute;
    bottom: 50px;
    left: 25px;
    background-color: #2196f3;
}

.options-menu {
    left: 0px;
    bottom: 0px;
}

.new-node-button {
    position: absolute;
    top: -12px;
    right: 10px;
}

.new-node-row {
    display: flex;
}

.tip-text-new-node {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    font-style: italic;
    color: #2195f3a2;
}

.space {
    margin-bottom: 15px;
}