.input-xml {
    width: 100%;
    display: grid;
    padding-top: 20px;
}

.input-xml-textarea {
    min-height: calc(100vh - 320px);
    font-family: monospace;
    padding-top: 20px; 
}

.input-label {
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.invalid-xml-error-text {
    margin-top: -10px;
    margin-bottom: 5px;
}

.import-buttons {
    display: flex;
}

.import-from-file-button {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color:  rgba(0, 0, 0, 0.90);
    margin-left: 5px;
    margin-right: 5px;
    width: 30%;
}

.import-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 70%;
}