<div class="input-xml row">
    <mat-form-field>
        <mat-label class="input-label">Twój XML</mat-label>
        <textarea matInput class="input-xml-textarea" syntaxXml #inputXml="ngModel" [ngModel]="xml | xml" (ngModelChange)="xml=$event" (keydown.Tab)="onKey($event)"></textarea>
    </mat-form-field> 
    <mat-error class="invalid-xml-error-text" *ngIf="inputXml.invalid && (inputXml.dirty || inputXml.touched)">{{getErrorMessage()}}</mat-error>
    <button mat-flat-button color="primary" (click)="onClickImportButton()">Import</button>
</div>